<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:epstein.ar@gmail.com">email</a></li>
	        		<li><a href="https://github.com/a-epstein">github.com/a-epstein</a></li>
				<li><a href="">LinkedIn</a></li>
				<li><a href="">Twitter</a></li>
			</ul>
			</footer>
		</body>
	</html>
